@font-face{
	font-family: Inter-Reg;
	src: url(../fonts/Inter-Regular.ttf);
}
@font-face{
	font-family: Inter-Med;
	src: url(../fonts/Inter-Medium.ttf);
}
@font-face{
	font-family: Inter-Bold;
	src: url(../fonts/Inter-Bold.ttf);
}
@font-face{
	font-family: Inter-SemiBold;
	src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face{
	font-family: Inter-ExBold;
	src: url(../fonts/Inter-ExtraBold.ttf); 
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	width: 1820px;
	margin: 0 auto;
}
header{
	padding-bottom: 40px;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 40px;
}
.header_list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 25px;
	padding-top: 25px;
}
.header_list li {
	list-style-type: none;

}
.header_list li a {
	font-family: Inter-Med;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-size: 24px;
}
.header_list li .active {
	border-bottom: #392D88 2px solid;
}
.header_butt{
	font-family: Inter-Bold;
	background-color: #392D88;
	color: white;
	border-radius: 10px;
	padding: 25px 50px;
	font-size: 24px;
}
.header_logo{
	padding-top: 12px;
}
.hero_content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 60px;
}
.hero_text p {
	color: white;
	font-family: Inter-Bold;
	font-size: 40px;
}
.hero_text{
	display: flex;
	flex-direction: column;
	gap: 10%;
}
.hero{
	background-color: #392D88;
	height: 650px;
}
.pt-10{
	padding-top: 10%;
}
.title{
	font-family: Inter-ExBold;
	font-size: 40px;	
	text-align: center;
	padding-bottom: 2%;
}
.content{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
span{
	color: #392D88;
}
.about{
	padding-bottom: 4%;
}
.about_title{
	font-family: Inter-Bold;
	font-size: 40px;
	text-align: center;
}

.about_text{
	font-family: Inter-SemiBold;
	text-align: center;
	padding-top: 40px;
	font-size: 40px;
	padding-bottom: 10%;
}
.about_butt{
	background-color: #392D88;
	padding: 25px 90px;
	color: white;
	font-family: Inter-Bold;
	font-size: 24px;
	border-radius: 10px;
	text-decoration: none;

}
.about_butt_center{
	text-align: center;
}
.fast_info_container{
	width: 1820;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 3%;
	
}
.fast_info_card{
	height: 220px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	text-align: left;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 60px;
}
.fast_info_card_last{
	border-right: 2px solid black;
}
.fast_info_card_tiitle{
	font-family: Inter-Bold;
	font-size: 96px;
	color: #392D88;	
}
a{
	text-decoration: none;
}
.fast_info_card_text{
	font-family: Inter-SemiBold;
	font-size: 32px;
	color: #000;	
}
.slider_butt{
	font-family: Inter-Bold;
	background-color: #392D88;
	color: white;
	border-radius: 10px;
	padding: 25px 50px;
	font-size: 24px;
}



.intro {
	position: relative;
	width: 100%;
	height: 100vh;
}
.left {
	float: left;
	height: 100%;
	width: 60%;
	padding: 3rem 3rem 3rem 5rem;
	display: table;
}
.left > div {
	display: table-cell;
	vertical-align: middle;
}


.slider {
	float: right;
	position: relative;
	width: 40%;
	height: 100%;
}
.slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
.slider_title{
	font-size: 110px;
	font-family: Inter-ExBold;
}
.slider_text{
	padding-top: 3%;
	font-size: 24px;
	color: #999999;
	font-family: Inter-SemiBold;
	padding-bottom: 13%;
}
.center-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}
.title_slider{
	font-size: 56px;
	font-family: Inter-Bold;
	padding-bottom: 40px;
}

.center-y a{
	font-family: Inter-Med;
	text-decoration: none;
	color: white;
	font-size: 28px;
	width: 10px;
}

li.current h3, li.current h3 + a {
	opacity: 1;
	transition-delay: 1s;
	transform: translate3d(0, 0, 0);
}
li.current {
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
	clip: rect(0, 0, 100vh, 0);
}
.slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
nav a {
	display: inline-block;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
    min-width: 12px;
    min-height: 12px;
	background: #fff;
	margin: 0 1rem;
  transition: transform .3s;
}
a.current_dot {
	transform: scale(1.4);
}
@media screen and (max-width: 700px) {
	.left {
		width: 100%;
		height: 30%;
	}
	.slider {
		width: 100%;
		height: 70%;
	}
}